apiVersion: v1
kind: Pod
metadata:
  name: horizon
  labels:
    app: horizon
spec:
  containers:
    - name: horizon
      image: {{ namespace }}/horizon:{{ tag }}
      env:
        - name: KEYSTONE_ADDRESS
          value: keystone-service.default.svc.cluster.local
        - name: HORIZON_SECRET_KEY
          value: secret
      imagePullPolicy: Always
      ports:
        - containerPort: 80
          hostPort: 80
