{% set venv_path = '/var/lib/microservices/venv/lib/python2.7/site-packages' %}

<VirtualHost *:{{ horizon_port }}>
    WSGIScriptAlias / {{ venv_path }}/openstack_dashboard/wsgi/django.wsgi
    WSGIScriptAlias /horizon {{ venv_path }}/openstack_dashboard/wsgi/django.wsgi
    WSGIDaemonProcess horizon user=horizon group=horizon processes=48 threads=15 python-path={{ venv_path }}
    WSGIProcessGroup horizon

    Alias /static {{ venv_path }}/static

    <Directory {{ venv_path }}/openstack_dashboard/wsgi>
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
    <Directory {{ venv_path }}/static>
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    ErrorLogFormat "%{cu}t %-m:%-l %P:%T %M"
    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" access
    ErrorLog  "/var/log/ccp/horizon/horizon-error.log"
    CustomLog "/var/log/ccp/horizon/horizon-access.log" access
</VirtualHost>
