server {
    listen {{ network_topology["private"]["address"] }}:{{ horizon.port.cont }};
    include common/ssl.conf;

    location / {
        proxy_pass http://horizon;
        include common/proxy-headers.conf;
    }
}
